doctype html5
html(ng-app='2048')
  head
    meta(charset='utf-8')
    base(href='/')
    title 2048
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body

    script(src='/js/app.min.js')
